{% extends "base/base.html" %}
{% load static %}
{% load posts_tags %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">

        <div class="dropdown mb-2">
            <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Фильтры
            </button>

            <form action="" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                <p class="text-white mx-3 mt-3">Сортировать:</p>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" {% if not request.GET.order_by or request.GET.order_by == "default" %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault1">
                        По умолчанию
                    </label>
                </div>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="username" {% if request.GET.order_by == "username" %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault2">
                        По имени пользователя
                    </label>
                </div>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="email" {% if request.GET.order_by == "email" %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault3">
                        По email пользователя
                    </label>
                </div>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="news" {% if request.GET.order_by == "news" %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Сначала новый
                    </label>
                </div>
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="oldest" {% if request.GET.order_by == "oldest" %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault3">
                        Сначала старые
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
            </form>
        </div>

        {% if request.GET.q %}
        <h2 class="font-nosifer mt-5 pt-5 text-center">Результат поиска по запросу "{{ request.GET.q }}"</h2>
            {% if not posts %}
                <h1 class="font-nosifer mt-5 pt-5 text-center">По запросу ничего не найдено...</h1>
            {% endif %}
        {% endif %}

        {% for post in posts %}
            <div class="col-lg-12 p-4">
                <div class="card border-primary rounded custom-shadow custom-card">
                    <div class="card-body custom-card-body">
                        <a href="{% url 'posts:post_detail' post.pk %}">
                            <h5 class="card-title">
                                {% autoescape off %}
                                    {% if post.headline %}
                                        {{ post.headline|truncatechars:100 }}
                                    {% else %}
                                        {{ post.title|truncatechars:40 }}
                                    {% endif %}
                                {% endautoescape %}
                            </h5>
                        </a>
                        <div class="d-flex align-items-center">
                            {% if post.user.avatar %}
                                <img src="{{ post.user.avatar.url }}" alt="Avatar" class="rounded-circle me-2" width="40" height="40">
                            {% else %}
                                <img src="{% static "baseavatar.jpg" %}" alt="Avatar" class="rounded-circle me-2" width="40" height="40">
                            {% endif %}
                            <p class="card-text mb-0">{{ post.user.username }}</p>
                        </div>
                        <strong>{{ post.user.email }}</strong>
                        <p class="card-text">
                            {% autoescape off %}
                                {% if post.bodyline %}
                                    {{ post.bodyline|truncatechars:100 }}
                                {% else %}
                                    {{ post.body|truncatechars:100 }}
                                {% endif %}
                            {% endautoescape %}

                            {% if user.is_authenticated %}
                                <div class="post-actions">
                                    <a href="{% url 'posts:add_post_comment' post.id %}" class="btn btn-outline-info">Коментировать</a>
                                </div>
                            {% endif %}
                        </p>
                        <p class="created_at">Создан: {{ post.created_at }}</p>
                    </div>
                </div>
            </div>
        
        {% endfor %}
        
    </div>


    {% if posts %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <div class="custom-shadow d-flex">

                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                    <a class="page-link rounded-start" href="?page=1">&laquo; начало</a>
                </li>

                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                    <a class="page-link" href="{% if page_obj.has_previous %}?{% change_params page=page_obj.previous_page_number %}{% else %}#{% endif %}">Назад</a>
                </li>

                {% for page in page_obj.paginator.page_range %}
                    {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                        <li class="page-item {% if page_obj.number == page %} active {% endif %}">
                            <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                    <a class="page-link" href="{% if page_obj.has_next %}?{% change_params page=page_obj.next_page_number %}{% else %}#{% endif %}">Следующая</a>
                </li>

                <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">конец &raquo;</a>
                </li>
            </div>
        </ul>
    </nav>
    {% endif %}


</div>
{% endblock content %}
