<div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previewModalLabel">Предпросмотр комментария</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div id="preview-content">
                    <strong id="preview-username"></strong>
                    <p id="preview-email"></p>
                    <p id="preview-comment-body"></p>
                    <img id="preview-image" src="" alt="Preview Image" style="display:none; max-width: 100%;"/>
                    <a id="preview-file" href="" target="_blank" style="display:none;">Предпросмотр файла</a>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>