body {
  background-image: url("../bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.dropdown-toggle::after {
  content: none;
}

.custom-card {
  max-height: 300px;
  overflow: hidden;
}

.custom-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.card-title, .card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h5.card-title, .card-text {
  margin-bottom: 5px;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.created_at {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}


.font-nosifer {
  font-family: "Nosifer", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.font-nosifer {
  color: #3b3939;
  text-shadow: 2px 2px 4px rgba(126, 112, 112, 0.973);
  text-decoration: underline;
}