{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="post-detail">
        <h1>{{ post.title }}</h1>
        <p>{{ post.body }}</p>
        <p>Автор: {{ post.user.username }}</p>
        <p>Создан: {{ post.created_at }}</p>
        
        <div class="post-actions">
            <a href="" class="btn btn-outline-info">Коментировать</a>
        </div>
    </div>

    <div class="comments-section">
        <h3>Комментарии:</h3>
        {% for comment in page_obj %}
            <div class="comment-box">
                <div class="comment-header">
                    {% if comment.user.avatar %}
                        <img src="{{ comment.user.avatar.url }}" alt="Avatar" class="rounded-circle me-2" width="40" height="40">
                    {% else %}
                        <img src="{% static "baseavatar.jpg" %}" alt="Avatar" class="rounded-circle me-2" width="40" height="40">
                    {% endif %}
                    <div class="comment-info">
                        <strong>{{ comment.user.username }}</strong>
                        <span class="comment-date">{{ comment.created_at|date:"d.m.y H:i" }}</span>
                    </div>
                </div>
                <div class="comment-body">
                    <div class="comment-body-content">
                        <p>{{ comment.body }}</p>
                        <a href="#" class="btn btn-outline-info">Ответить</a>
                    </div>
                    {% if comment.image %}
                        <img src="{{ comment.image.url }}" alt="Comment Image" class="comment-image" />
                    {% endif %}
                    {% if comment.file %}
                        <img src="{% static "file_icon.png" %}" alt="Comment File" class="comment-image" width="80" height="80" />
                        <a href="{{ comment.file.url }}">Скачать файл</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    
        <!-- Пагинация -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; начало</a>
                    <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                {% endif %}
        
                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">конец &raquo;</a>
                {% endif %}
            </span>
        </div>
        
    </div>
    
    
{% endblock %}
