{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="post-detail">
        <h1>{{ post.title }}</h1>
        <p>{{ post.body }}</p>
        <p>Автор: {{ post.user.username }}</p>
        <p>Создан: {{ post.created_at }}</p>
        
        <div class="post-actions">
            <a href="" class="btn btn-outline-info">Коментировать</a>
        </div>
    </div>

    <div class="comments-section">
        <h3>Комментарии:</h3>
        {% for comment in page_obj %}
            {% include 'comment.html' with comment=comment level=0 %}
        {% endfor %}
    
        <!-- Пагинация -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; начало</a>
                    <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                {% endif %}
        
                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">конец &raquo;</a>
                {% endif %}
            </span>
        </div>
        
    </div>
{% endblock %}
